/*
Блок 'Услуги'
Modified 3.12.2015
*/ 
             
.block_serv {       
  padding: 10px 10px;
  margin: 10px 0px 15px 0px; 
	overflow: hidden;
	font-size: 0px;    
	color: #3f4950;
	max-width: 466px;
	background: #DDCEB2 url(../../images/client/barmain/bgs.png) center top repeat-x;
}
.popup .block_serv {
	max-width: 365px;
}
.block_serv .serv {
  width: 33%;
	min-width: 120px;
  padding: 5px 0px;  
  display: inline-block;
  vertical-align: top;      
  font: normal 13px/18px arial, tahoma, verdana;  
}
.block_serv a:link, .block_serv a:visited {  
	color: #3f4950;     
}          
.block_serv .blockimg {   
  width: 30px;  
  margin: 0px 5px 0px 0px; 
	float: left;   
	text-align: center;                  
	text-decoration: none;           
}        
.block_serv.ins img {  
	vertical-align: top;
}   
.block_serv .txt {   
  text-align: left;  
	text-decoration: none;  
	white-space: nowrap;
}           