<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Define rewritten_https variable
    RewriteCond %{HTTPS} on [OR]
    RewriteCond %{HTTP:X-Forwarded-Proto} https
    RewriteRule ^(.*)$ - [ENV=rewritten_https:on]

    #со страниц старого сайта

    #с вложенным страницами
    RewriteRule ^description/4/0/   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/4/1/   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/4/2/   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/5/1/   https://www.lit-mebel.ru/ [R=301,L]

    RewriteRule ^description/6/1/0.01$   https://www.lit-mebel.ru/raspashnye-shkafy/nevstroennye [R=301,L]
    RewriteRule ^description/6/1/0.02$   https://www.lit-mebel.ru/type/shkafy-odnodvernye [R=301,L]
    RewriteRule ^description/6/1/0.03$   https://www.lit-mebel.ru/type/shkafy-shpon [R=301,L]
    RewriteRule ^description/6/1/0.04$   https://www.lit-mebel.ru/type/shkafy-plenka [R=301,L]
    RewriteRule ^description/6/1/   https://www.lit-mebel.ru/ [R=301,L]

    RewriteRule ^description/7/2/   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/1/0/   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/1/1/   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/1/2/   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]

    #постранично
    RewriteRule ^about.html   https://www.lit-mebel.ru/about [R=301,L]
    RewriteRule ^order.html   https://www.lit-mebel.ru/kontakty [R=301,L]
    RewriteRule ^map.html   https://www.lit-mebel.ru/map [R=301,L]
    RewriteRule ^addreference.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/0/0/01$   https://www.lit-mebel.ru/type/shkafy-kupe-v-prihojuyu [R=301,L]
    RewriteRule ^description/0/0/02$   https://www.lit-mebel.ru/type/shkafy-kupe-v-spalnyu [R=301,L]
    RewriteRule ^description/0/0/03$   https://www.lit-mebel.ru/type/shakfy-kupe-uglovye [R=301,L]
    RewriteRule ^description/0/0/04$   https://www.lit-mebel.ru/type/shkafy-kupe-v-gostinuyu [R=301,L]
    RewriteRule ^description/0/0/05$   https://www.lit-mebel.ru/type/shkafy-kupe-v-detskuyu [R=301,L]
    RewriteRule ^description/0/0/06$   https://www.lit-mebel.ru/type/shkafy-dlya-balkona [R=301,L]
    RewriteRule ^description/0/0/07$   https://www.lit-mebel.ru/type/shkafy-na-mansardu [R=301,L]
    RewriteRule ^description/0/0/08$   https://www.lit-mebel.ru/type/shkafy-v-tualet [R=301,L]
    RewriteRule ^description/0/0/09$   https://www.lit-mebel.ru/type/shkafy-pod-lestnitsu [R=301,L]
    RewriteRule ^description/0/0/10$   https://www.lit-mebel.ru/type/shkafy-dvuhdvernye [R=301,L]
    RewriteRule ^description/0/0/11$   https://www.lit-mebel.ru/type/shkafy-trehdvernye [R=301,L]
    RewriteRule ^description/0/0/12$   https://www.lit-mebel.ru/type/shkafy-chetyrehdvernye [R=301,L]
    RewriteRule ^description/0/0/13$   https://www.lit-mebel.ru/type/shkafy-mdf [R=301,L]
    RewriteRule ^description/0/0/14$   https://www.lit-mebel.ru/type/shkafy-kupe-zerkalnye [R=301,L]
    RewriteRule ^description/0/0/15$   https://www.lit-mebel.ru/type/shkafy-kupe-s-peskostruem [R=301,L]
    RewriteRule ^description/0/0/16$   https://www.lit-mebel.ru/type/shkafy-kupe-s-fotopechatyu [R=301,L]
    RewriteRule ^description/0/0/17$   https://www.lit-mebel.ru/type/shkafy-kupe-so-steklom [R=301,L]
    RewriteRule ^description/0/0/18$   https://www.lit-mebel.ru/type/shkafy-s-rotangom [R=301,L]
    RewriteRule ^description/0/0/19$   https://www.lit-mebel.ru/type/shkafy-penaly [R=301,L]
    RewriteRule ^description/0/0/20$   https://www.lit-mebel.ru/type/shkafy-penaly [R=301,L]
    RewriteRule ^description/0/0/21$   https://www.lit-mebel.ru/type/bolshie-shkafy [R=301,L]
    RewriteRule ^description/0/0/22$   https://www.lit-mebel.ru/type/vysokie-shkafy [R=301,L]
    RewriteRule ^description/0/0/23$   https://www.lit-mebel.ru/type/knijnye-shkafy [R=301,L]
    RewriteRule ^description/0/0/24$   https://www.lit-mebel.ru/type/shkaf-pod-odejdu [R=301,L]
    RewriteRule ^description/0/0/25$   https://www.lit-mebel.ru/type/shkafy-oreh [R=301,L]
    RewriteRule ^description/0/0/26$   https://www.lit-mebel.ru/type/shkafy-belye [R=301,L]
    RewriteRule ^description/0/0/27$   https://www.lit-mebel.ru/type/glubina-shkafa-40-sm [R=301,L]
    RewriteRule ^description/0/0/28$   https://www.lit-mebel.ru/type/krasivye-shkafy [R=301,L]
    RewriteRule ^description/0/0/29$   https://www.lit-mebel.ru/type/kachestvennye-shkafy [R=301,L]
    RewriteRule ^description/0/0/30$   https://www.lit-mebel.ru/type/nedorogie-shkafy [R=301,L]
    RewriteRule ^description/0/0/31$   https://www.lit-mebel.ru/type/bolshie-shkafy [R=301,L]
    RewriteRule ^description/0/0/32$   https://www.lit-mebel.ru/type/shkaf-pod-odejdu [R=301,L]
    RewriteRule ^description/0/0/35$   https://www.lit-mebel.ru/type/kachestvennye-shkafy [R=301,L]
    RewriteRule ^description/2/0/0.01$   https://www.lit-mebel.ru/type/nedorogie-shkafy [R=301,L]
    RewriteRule ^description/2/0/0.02$   https://www.lit-mebel.ru/cat/raspashnye-shkafy [R=301,L]
    RewriteRule ^description/2/0/0.03$   https://www.lit-mebel.ru/cat/garderobnye [R=301,L]
    RewriteRule ^description/2/0/0.04$   https://www.lit-mebel.ru/cat/prihojie [R=301,L]
    RewriteRule ^description/2/0/0.05$   https://www.lit-mebel.ru/raspashnye-shkafy/vstraivaemye [R=301,L]
    RewriteRule ^description/2/0/0.06$   https://www.lit-mebel.ru/type/shkafy-dsp [R=301,L]
    RewriteRule ^description/2/0/0.07$   https://www.lit-mebel.ru/type/shkafy-massiv [R=301,L]
    RewriteRule ^description/2/0/0.08$   https://www.lit-mebel.ru/type/shkafy-plastik [R=301,L]
    RewriteRule ^description/2/0/0.09$   https://www.lit-mebel.ru/type/shkafy-kupe-s-polkamii [R=301,L]
    RewriteRule ^description/2/0/0.10$   https://www.lit-mebel.ru/type/radiusnye-shkafy-kupe [R=301,L]
    RewriteRule ^description/2/0/0.11$   https://www.lit-mebel.ru/type/mnogodvernye-shkafy [R=301,L]
    RewriteRule ^description/2/0/0.12$   https://www.lit-mebel.ru/type/uzkie-shkafy [R=301,L]
    RewriteRule ^description/2/0/0.13$   https://www.lit-mebel.ru/type/kompaktnye-shkafy [R=301,L]
    RewriteRule ^description/3/1/0.01$   https://www.lit-mebel.ru/type/gorizontalnye-shkafy [R=301,L]
    RewriteRule ^description/3/1/0.02$   https://www.lit-mebel.ru/type/shkafy-dlya-posudy [R=301,L]

    RewriteRule ^description/5/0/0.01$   https://www.lit-mebel.ru/type/shkafy-dlya-obuvi [R=301,L]
    RewriteRule ^description/5/0/0.02$   https://www.lit-mebel.ru/type/nastennye-shkafy [R=301,L]
    RewriteRule ^description/5/0/0.03$   https://www.lit-mebel.ru/type/vydvijnye-shkafy [R=301,L]
    RewriteRule ^description/5/0/0.04$   https://www.lit-mebel.ru/type/shkafy-pod-televizor [R=301,L]
    RewriteRule ^description/5/0/0.05$   https://www.lit-mebel.ru/type/otkrytye-shkafy [R=301,L]
    RewriteRule ^description/5/0/0.06$   https://www.lit-mebel.ru/type/shkafy-s-yaschikami [R=301,L]

    RewriteRule ^description/6/0/0.01$   https://www.lit-mebel.ru/type/shkafy-sekcionnye [R=301,L]
    RewriteRule ^description/6/0/0.02$   https://www.lit-mebel.ru/type/shkafy-jalyuziynye [R=301,L]
    RewriteRule ^description/6/0/0.03$   https://www.lit-mebel.ru/type/shkafy-vishnya [R=301,L]
    RewriteRule ^description/6/0/0.04$   https://www.lit-mebel.ru/type/shkafy-chernye [R=301,L]
    RewriteRule ^description/6/0/0.05$   https://www.lit-mebel.ru/shkafy-kupe/vstroennye [R=301,L]
    RewriteRule ^description/6/0/0.06$   https://www.lit-mebel.ru/shkafy-kupe/nevstraivaemye [R=301,L]

    RewriteRule ^description/7/0/0.0$   https://www.lit-mebel.ru/type/shkafy-plastik/matoviy [R=301,L]
    RewriteRule ^description/7/0/0.1$   https://www.lit-mebel.ru/type/shkafy-plastik/glyanceviy [R=301,L]
    RewriteRule ^description/7/0/0.10$   https://www.lit-mebel.ru/type/nizkie-shkafy [R=301,L]
    RewriteRule ^description/7/0/0.13$   https://www.lit-mebel.ru/type/shkafy-stenki [R=301,L]
    RewriteRule ^description/7/0/0.14$   https://www.lit-mebel.ru/type/shkafy-garderoby [R=301,L]
    RewriteRule ^description/7/0/0.15$   https://www.lit-mebel.ru/type/shkafy-peregorodki [R=301,L]
    RewriteRule ^description/7/0/0.16$   https://www.lit-mebel.ru/type/shkafy-cherdaki [R=301,L]
    RewriteRule ^description/7/0/0.17$   https://www.lit-mebel.ru/type/shkafy-bokovye [R=301,L]
    RewriteRule ^description/7/0/0.18$   https://www.lit-mebel.ru/type/shkafy-garmoshki [R=301,L]
    RewriteRule ^description/7/0/0.19$   https://www.lit-mebel.ru/type/shkafy-gladilnye [R=301,L]
    RewriteRule ^description/7/0/0.2$   https://www.lit-mebel.ru/type/shkafy-venge [R=301,L]
    RewriteRule ^description/7/0/0.20$   https://www.lit-mebel.ru/type/shkafy-korichnevye [R=301,L]
    RewriteRule ^description/7/0/0.21$   https://www.lit-mebel.ru/type/shkafy-olha [R=301,L]
    RewriteRule ^description/7/0/0.22$   https://www.lit-mebel.ru/type/shkafy-klen [R=301,L]
    RewriteRule ^description/7/0/0.23$   https://www.lit-mebel.ru/type/shirina-shkafa-90-sm [R=301,L]
    RewriteRule ^description/7/0/0.24$   https://www.lit-mebel.ru/type/shirina-shkafa-100-sm [R=301,L]
    RewriteRule ^description/7/0/0.25$   https://www.lit-mebel.ru/type/shirina-shkafa-120-sm [R=301,L]
    RewriteRule ^description/7/0/0.26$   https://www.lit-mebel.ru/type/shirina-shkafa-150-sm [R=301,L]
    RewriteRule ^description/7/0/0.3$   https://www.lit-mebel.ru/type/shirina-shkafa-160-sm [R=301,L]
    RewriteRule ^description/7/0/0.4$   https://www.lit-mebel.ru/type/shirina-shkafa-180-sm [R=301,L]
    RewriteRule ^description/7/0/0.5$   https://www.lit-mebel.ru/type/shirina-shkafa-200-sm [R=301,L]
    RewriteRule ^description/7/0/0.7$   https://www.lit-mebel.ru/type/shirina-shkafa-250-sm [R=301,L]
    RewriteRule ^description/7/0/0.8$   https://www.lit-mebel.ru/type/shirina-shkafa-300-sm [R=301,L]
    RewriteRule ^description/7/0/0.9$   https://www.lit-mebel.ru/type/shirina-shkafa-400-sm [R=301,L]
    RewriteRule ^description/7/1/0.1$   https://www.lit-mebel.ru/type/shirina-shkafa-500-sm [R=301,L]
    RewriteRule ^description/7/1/0.10$   https://www.lit-mebel.ru/type/vyisota-shkafa-200-sm [R=301,L]
    RewriteRule ^description/7/1/0.11$   https://www.lit-mebel.ru/type/vyisota-shkafa-220-sm [R=301,L]
    RewriteRule ^description/7/1/0.12$   https://www.lit-mebel.ru/type/vyisota-shkafa-250-sm [R=301,L]
    RewriteRule ^description/7/1/0.13$   https://www.lit-mebel.ru/type/vyisota-shkafa-260-sm [R=301,L]
    RewriteRule ^description/7/1/0.14$   https://www.lit-mebel.ru/type/vyisota-shkafa-270-sm [R=301,L]
    RewriteRule ^description/7/1/0.15$   https://www.lit-mebel.ru/type/vyisota-shkafa-280-sm [R=301,L]
    RewriteRule ^description/7/1/0.16$   https://www.lit-mebel.ru/type/vyisota-shkafa-300-sm [R=301,L]
    RewriteRule ^description/7/1/0.17$   https://www.lit-mebel.ru/type/glubina-shkafa-30-sm [R=301,L]
    RewriteRule ^description/7/1/0.18$   https://www.lit-mebel.ru/type/glubina-shkafa-35-sm [R=301,L]
    RewriteRule ^description/7/1/0.19$   https://www.lit-mebel.ru/type/glubina-shkafa-45-sm [R=301,L]
    RewriteRule ^description/7/1/0.2$   https://www.lit-mebel.ru/type/glubina-shkafa-50-sm [R=301,L]
    RewriteRule ^description/7/1/0.20$   https://www.lit-mebel.ru/type/glubina-shkafa-60-sm [R=301,L]
    RewriteRule ^description/7/1/0.21$   https://www.lit-mebel.ru/type/glubina-shkafa-70-sm [R=301,L]
    RewriteRule ^description/7/1/0.22$   https://www.lit-mebel.ru/type/glubina-shkafa-80-sm [R=301,L]
    RewriteRule ^description/7/1/0.3$   https://www.lit-mebel.ru/type/shkafy-s-zamkom [R=301,L]
    RewriteRule ^description/7/1/0.4$   https://www.lit-mebel.ru/type/vmestitelnye-shkafy [R=301,L]
    RewriteRule ^description/7/1/0.5$   https://www.lit-mebel.ru/type/shkafy-kupe-s-peskostruem [R=301,L]
    RewriteRule ^description/7/1/0.6$   https://www.lit-mebel.ru/type/shkafy-s-antresolyami [R=301,L]
    RewriteRule ^description/7/1/0.7$   https://www.lit-mebel.ru/type/shkafy-svetlye [R=301,L]
    RewriteRule ^description/7/1/0.8$   https://www.lit-mebel.ru/type/shkafy-temnye [R=301,L]
    RewriteRule ^description/7/1/0.9$   https://www.lit-mebel.ru/type/shkafy-oreh [R=301,L]

    RewriteRule ^links/abouts.htm   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/grtkani.php   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/katalog.htm   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_01.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_02.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_03.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_04.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_05.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_06.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_07.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_08.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_09.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_10.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_11.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_12.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/meb_13.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_01.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_02.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_03.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_04.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_05.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_06.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/ofis_07.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^links/spec.htm   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/ibiza$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/leather_1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/leather_2$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/leather_3$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/leather_4$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/loft$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/magma$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/massa$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/new_alkala$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/piero$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^materials/savanna$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^news$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/function.getimagesize$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo10$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo11$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo12$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo13$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo14$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo2$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo3$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo4$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo5$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo6$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo7$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo8$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^photos/photo9$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^reference.html   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/0/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/2$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/2/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/3$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/3/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/4$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/4/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/4/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/4/2$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/5$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/5/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/5/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/6$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/6/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/6/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/7$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/7/0$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/7/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sale/7/2$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^salechild/1$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^sales$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^search$   https://www.lit-mebel.ru/ [R=301,L]
    RewriteRule ^description/2/2/0.01$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/2/2/0.02$   https://www.lit-mebel.ru/type/shkafy-drugoy-material [R=301,L]
    RewriteRule ^description/2/2/0.03$   https://www.lit-mebel.ru/type/shkafy-drugoy-material-otdelki [R=301,L]
    RewriteRule ^description/2/2/0.04$   https://www.lit-mebel.ru/type/shkafy-drugie-cveta [R=301,L]
    RewriteRule ^description/2/2/0.05$   https://www.lit-mebel.ru/type/drugaya-shirina-shkafa [R=301,L]
    RewriteRule ^description/2/2/0.06$   https://www.lit-mebel.ru/type/drugaya-vyisota-shkafa [R=301,L]
    RewriteRule ^description/3/2/0.01$   https://www.lit-mebel.ru/type/drugaya-glubina-shkafa [R=301,L]
    RewriteRule ^description/3/2/0.02$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.03$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.04$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.05$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.06$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.07$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.08$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.09$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.10$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.11$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.12$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.13$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.14$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^description/3/2/0.15$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^sale/2/2$   https://www.lit-mebel.ru/cat/komody [R=301,L]
    RewriteRule ^sale/3/2$   https://www.lit-mebel.ru/cat/komody [R=301,L]

    RewriteRule ^description/2/1/001$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/002$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/003$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/004$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/005$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/006$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/007$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/008$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/009$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/010$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^description/2/1/011$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^sale/1$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^sale/1/0$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^sale/1/1$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^sale/2/1$   https://www.lit-mebel.ru/cat/shkafy-kupe [R=301,L]
    RewriteRule ^sale/1/2$   https://www.lit-mebel.ru/cat/stellaji [R=301,L]

    RewriteCond %{QUERY_STRING} ^Alla_Pugacheva_i_Sofiya_Rotaru_-_Nas_ne_dogonyat!:TEKST_S_AKKORDAMI_SMOTRETMz_-_Alla_Pugacheva_i_Sofiya_Rotaru_-_Nas_ne_dogonyat!$ [OR]
    RewriteCond %{QUERY_STRING} ^DATO_-_Dezhavyu:ETU_MP3_PESNYu_SKAChAITE_-_DATO_-_Dezhavyu$ [OR]
    RewriteCond %{QUERY_STRING} ^Hatuba_-_Poezd%B98:PESNYu_V_MP3_FORMATE_PROSLUShAI_-_Hatuba_-_Poezd%B98$ [OR]
    RewriteCond %{QUERY_STRING} ^Hatuba_-_Poezd%B98:SKAChAI_ETU_MP3_PESNYu_-_Hatuba_-_Poezd%B98$ [OR]
    RewriteCond %{QUERY_STRING} ^Sakura_-_Love_forever:SLUShATMz_VOT_ETU_MP3_PESNYu_-_Sakura_-_Love_forever$
    RewriteRule ^(.*)$ https://www.lit-mebel.ru/? [R=301,L]

    RewriteRule ^payment$   https://www.lit-mebel.ru/dostavka [R=301,L]
    RewriteRule ^dostavka-i-sborka$   https://www.lit-mebel.ru/dostavka [R=301,L]

    RewriteRule ^shkafy-kupe/nevstraivaemye$	https://%{HTTP_HOST}/shkafy-kupe/korpusnye [R=301,L]
    RewriteRule ^raspashnye-shkafy/nevstroennye$	https://%{HTTP_HOST}/raspashnye-shkafy/korpusnyj [R=301,L]
    RewriteRule ^measurement$	https://%{HTTP_HOST}/kontakty [R=301,L]

    # Trailing Slashes with redirect to https with www
    RewriteCond %{HTTP_HOST} lit-mebel\.ru
    RewriteRule ^(.*)/$ https://www.lit-mebel.ru/$1 [L,R=301]

    # Redirect http (www or WITHOUT www) to https with www
    RewriteCond "%{ENV:rewritten_https}" !on
    RewriteCond %{HTTP_HOST} lit-mebel\.ru
    RewriteRule ^(.*)$ https://www.lit-mebel.ru%{REQUEST_URI} [R=301,L]

    # Redirect https WITHOUT www to https with www
    RewriteCond "%{ENV:rewritten_https}" on
    RewriteCond %{HTTP_HOST} ^lit-mebel\.ru
    RewriteRule ^(.*)$ https://www.lit-mebel.ru/$1 [R=permanent,L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>